* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

.sousuo {
  width: 1200px;
  width: 1200;
  height: 125px;
  margin: 0 auto;
}

.sousuoLogo {
  margin-top: 30px;
  width: 257px;
  height: 65px;
  float: left;
  display: inline-block;
}

.sousuoLogo p {
  float: left;
  text-align: left;
}

.jxwLogo {
  width: 137px;
  height: 65px;
  margin-right: 10px;
}

.sousuokuang {
  width: 540px;
  height: 62px;
  float: left;
  display: inline-block;
  margin: 32px 0 0 10px;
}

.sskuang {
  height: 32px;
  border: 3px solid #c00;
  float: left;
  position: relative;
}

.sskuang .ss {
  width: 440px;
  height: 26px;
  line-height: 26px;
  padding: 4px;
  border: 0;
  color: #666;
  float: left;
  outline: none;
}

.sskuang .ssCon {
  width: 440px;
  position: absolute;
  left: -3px;
  top: 35px;
  z-index: 205;
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
}

.ssCon ul {
  width: 439px;
  padding-top: 3px;
}

.ssCon ul li {
  width: 439px;
  height: 30px;
  position: relative;
}

.ssCon ul a {
  width: 439px;
  display: block;
  text-decoration: none;
  border-bottom: 1px dashed #ddd;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.ssCon ul a span {
  color: #333;
  float: left;
  display: block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ssCon ul a em {
  color: #999;
  float: right;
  font-style: normal;
  display: block;
  width: 80px;
  overflow: hidden;
  text-align: right;
}

.ssCon ul a em b {
  font-weight: normal;
  padding: 0 2px;
}

.ssbtn {
  width: 86px;
  height: 28px;
  line-height: 32px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background: #c00;
  border: 0;
}

.hotWords {
  width: 540px;
  height: 30px;
  overflow: hidden;
  padding-top: 5px;
}

.hotWords p {
  height: 18px;
}

.hotWords p a {
  color: #999;
  padding: 0 5px;
  position: relative;
  font-size: 12px;
}

.hotWords p s {
  display: block;
  height: 12px;
  width: 0;
  border: 1px solid #999;
  position: absolute;
  left: -1px;
  top: 2px;
}

.hotWords p a:hover {
  color: red;
  text-decoration: underline;
}

.ssProtect {
  width: 363px;
  float: right;
  height: 64px;
  margin-top: 32px;
  display: inline-block;
  background: url("../img/2.png") no-repeat 0 0;
}

.navWrap {
  width: 100%;
  height: 34px;
  background: #900;
  position: relative;
  color: #fff;
}

.nav {
  width: 1200px;
  height: 34px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}

.navfl {
  float: left;
  position: relative;
  z-index: 200;
  cursor: pointer;
  background: #ce171f;
}

.navfl h2 {
  width: 190px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.categoryBox {
  width: 190px;
  height: 470px;
  border: none;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 99;
  display: none;
}

.navfl:hover .categoryBox {
  display: block;
}

.categoryBox li {
  width: 190px;
  float: left;
  height: 79px;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  color: #333;
}

.catItem:hover {
  background: #f1f1f1;
}

.catItemCon {
  margin: 0 auto;
  width: 163px;
  height: 81px;
  padding: 0 10px;
  border-left: 3px solid #fff;
}

.categoryBox .catItemCon a {
  color: #333;
}

.categoryBox li h3 {
  line-height: 32px;
  height: 32px;
  font-size: 14px;
  overflow: hidden;
  font-weight: normal;
  color: #333;
}

.categoryBox li h3:hover {
  text-decoration: underline;
}

.categoryCon {
  width: 166px;
  overflow: hidden;
  position: relative;
  height: 40px;
}

.categoryCon p a {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding: 0 4px;
  color: #666;
  float: left;
  margin: 2px 3px 2px 0;
}

.menuBox {
  width: 315px;
  height: 490px;
  position: absolute;
  left: 190px;
  top: 36px;
  z-index: 301;
  box-shadow: 0 0 4px 0 #ccc;
  display: none;
}

.menuCon {
  width: 400px;
  height: 490px;
  float: left;
  display: inline-block;
  background: #f1f1f1;
  overflow: hidden;
}

.menuItemTitle {
  width: 60px;
  float: left;
  padding: 10px 10px 10px 20px;
  line-height: 22px;
  text-align: right;
}

.menuItemTitle h4 {
  font-size: 12px;
  color: #333333;
}

.menuItemCon {
  float: left;
  background: #fff;
}

.menuCon-list {
  border-top: 0;
  padding: 15px 0 10px;
  width: 280px;
  margin: 0 15px 0 15px;
  overflow: hidden;
  border-bottom: 1px dotted #e4e4e4;
}

.menuCon-list p {
  margin: 0 0 0 -1px;
  line-height: 22px;
  max-height: 17px;
}

.menuCon-list p a {
  display: inline-block;
  float: left;
  padding: 0 5px;
  font-size: 12px;
  border-right: 1px solid #e4e4e4;
  color: #666;
}

.menuCon-list p a:hover {
  color: #900;
  text-decoration: underline;
}

.lb {
  height: 34px;
  float: left;
}

.lb li {
  float: left;
  display: inline-block;
}

.ts {
  background: #b40c10;
}

.lb li a {
  color: #fff;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding: 0 15px;
  display: inline-block;
}

.lb li a:hover {
  background: #b40c10;
}

.w1200 {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.Tu {
  width: 1200px;
  height: 70px;
  margin: 20px auto;
}

.Tu img {
  display: block;
  width: 1200px;
  height: 70px;
}

.yemian {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

.yemian span {
  color: #900;
}

.yemian a:hover {
  color: #900;
  cursor: pointer;
  text-decoration: underline;
}

.Box {
  width: 402px;
  height: 410px;
  float: left;
}

#box {
  width: 402px;
  height: 410px;
  border: 1px solid #ccc;
  position: relative;
}

#zbox {
  width: 400px;
  height: 410px;
  position: absolute;
  overflow: hidden;
}

#zbox img {
  width: 400px;
  height: 400px;
  display: block;
  border: 0;
}

#xbox {
  width: 200px;
  height: 200px;
  background: yellow;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: move;
}

#dbox {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 400px;
  top: -1px;
  display: none;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

#dbox img {
  width: 800px;
  height: 800px;
  display: block;
  position: absolute;
  border: 0;
}

.xqyRight {
  width: 400px;
  height: 700px;
  float: left;
  margin-left: 50px;
}

.xqyRight .name {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  width: 400px;
}

.xqyRight .jiage {
  font-size: 24px;
  color: #CE171F;
  margin-left: 40px;
}

.xqyRight .pingfen {
  color: #f00;
  font-size: 20px;
  margin-left: 40px;
}

.xqyRight .addBtn {
  display: block;
  width: 200px;
  height: 40px;
  border: 1px solid #f00;
  background: #CE171F;
  color: #fff;
  font-weight: 600;
  margin-top: 230px;
}
