$min-width:1200px;
$background:#C94B56;

.secect {
    background: $background;
}

body {
    width: $min-width;
    width: 100%;
}

header {
    width: 1200px;
    margin: 0 auto;
    height: 30px;
    background: #f2f2f2;
    line-height: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.huanying {
    float: left;
    width: 300px;
    height: 30px;
    font-size: 14px;
    color: #666;
}

.huanying p {
    width: 135px;
    float: left;
}

.huanying a {
    width: 65px;
    height: 30px;
    color: #666;
}

.huanying a:hover {
    color: red;
}

._right li {
    float: left;
    margin: 0 5px;
    font-size: 14px;
}

._right li:nth-child(1) {
    position: relative;
}

.jx {
    width: 72px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    position: absolute;
    top: 27px;
    left: -1px;
    z-index: 206;
    background: #fff;
    padding: 5px 0;
    display: none;
}

.jx a {
    color: #666;
}

.jx a:hover {
    color: #900;
    text-decoration: underline;
}

._right li:hover>a {
    text-decoration: underline;
    color: #900;
}

._right li:nth-child(1):hover .jx {
    display: block;
    background: #fff;
}

._right li:nth-child(2) a,
li:nth-child(4) a {
    color: #c00;
}

._right li:nth-child(3) span {
    color: #c00;
}

._right li:nth-child(6) a {
    background: #c00;
    ;
    color: #fff;
}

.rig span {
    color: red;
    margin-left: 5px;
}

.fix {
    width: 30px;
    height: 1000px;
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 500;
}

.fix a {
    display: block;
    width: 30px;
    text-align: center;
    margin-top: 10px;
}

.fix .Top a:nth-of-type(3) {
    width: 30px;
    padding: 0 7px;
}

.fix a:hover {
    background: red;
    color: #fff;
}

.fix .erweima {
    width: 30px;
    padding: 5px 7px;
}

.fix .erweima:hover {
    background: red;
    color: #fff;
}

.Top {
    position: relative;
}

.TOP1:hover .wo {
    display: block
}

//.wo:hover{display: block;}
.wo {
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 320;
    border: 1px solid #ddd;
    border-right: 0;
    width: 200px;
    height: 200px;
    display: none;
}

.wo a {
    width: 200px;
    height: 90px;
    line-height: 100px;
    text-align: center;
}

.dd {
    width: 98px;
    height: 48px;
    border-right: 1px solid #ccc;
    text-align: center;
    line-height: 48px;
    float: left;
}



//顶部结束