* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

#box {
    width: 100%;
    height: 800px;

    //   background: seagreen;
    .top {
        width: 1000px;
        height: 86px;
        display: flex;
        justify-content: space-between;
        // background: salmon;
        margin: 0 auto;

        .left {
            margin-top: 10px;
        }

        .right {
            margin-top: 36px;
            padding-right: 20px;
            color: #a2aac9;
            font-size: 10px;
        }
    }

    .middle {
        width: 100%;
        height: 584px;
        background: url(../imgs/regist/bg.jpg) repeat-x scroll left top;
        float: left;

        .middle_box {
            width: 1000px;
            height: 480px;
            background: #ffffff;
            border: 2px solid #e9e9ea;
            // margin-top: 70px;
            margin: 30px auto;

            .middle_btn {
                float: right;
                color: #feefc8;

            }

            .reg_person {
                width: 410px;
                height: 350px;
                margin: 30px 280px;
                // display: none;

                .form1 {
                    font-size: 12px;
                    margin-top: 100px;
                }
            }

            // .reg_com  start
            .reg_com {
                width: 410px;
                height: 350px;
                margin: 30px 280px;
                display: none;

                .form2 {
                    font-size: 12px;
                    margin-top: 100px;
                }
            }
        }
    }

    .bottom {
        width: 100%;
        height: 130px;
        background: #ccc;

        .bottom_c {
            margin: 0 auto;
            height: 130px;
            width: 1000px;
            text-align: center;
            padding-top: 30px;

            p {
                font-size: 10px;
            }
        }
    }
}